h2 {
    font-family: arial;
    color: maroon;
}

p {
    color: maroon;
    text-align: left;
    font-family: arial;
}

p.centralizado {
    text-align: center;
}

p.direito {
    text-align: right;
}